{% extends 'layouts/base.html' %}
{% load i18n static %}

{% block title %}
  Laboratorios
{% endblock %}

{% block overlay %}
  <div class="min-height-300 bg-danger position-absolute w-100"></div>
{% endblock %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                <h6>{{ title }}</h6>
                <a href="{% url 'main:computer_create' %}" class="btn btn-success">Crear nueva Computadora</a>
              </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center justify-content-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" scope="col">#</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" scope="col">Nombre</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" scope="col">Descripción</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" scope="col">Acciones</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for computer in computers %}
                    <tr>
                      <th scope="row">
                        <div class="my-auto">
                          <h6 class="mb-0 text-sm">{{ computer.id }}</h6>
                        </div>
                      </th>

                      <td>
                        <p class="text-sm font-weight-bold mb-0">{{ computer.code }}</p>
                      </td>
                      <td>
                        <span class="text-xs font-weight-bold">{{ computer.lab_id.name }}</span>
                      </td>

                      <td class="align-middle">
                        <a href="{% url 'main:computer_update' computer.id %}" class="btn btn-info">Editar</a>
                      </td>
                    </tr>
                    {% empty %}
                    <tr>
                      <td colspan="4">No hay computadoras disponibles.</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'includes/footer.html' %}
  </div>


{% endblock content %}
